<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QuanLyVatTuPhanTan.Properties.Settings.QLVTConnectionString"
      connectionString="Data Source=NHAT-PC\SERVER02;Initial Catalog=QLVT;User ID=sa"
      providerName="System.Data.SqlClient" />
    <!--<add name="QuanLyVatTuPhanTan.Properties.Settings.QLVTConnectionString1"
      connectionString="Data Source=PHUONG-HPLAP\MSSQLSERVER2;Initial Catalog=QLVT;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="QuanLyVatTuPhanTan.Properties.Settings.QLVT_DATHANGConnectionString"
      connectionString="Data Source=MSI\MSSQLSERVER01;Initial Catalog=QLVT_DATHANG;User ID=sa;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>